<div class="col-md-9">
	<div class="row" ng-controller="listingController">

		<hr/>
		<div class="row hidden-xs">
			<div class="col-md-3">
				<input type="text" class="form-control" ng-model="searchText" placeholder="enter search term"></div>

			<div class="col-md-3">
				<select class="form-control" ng-model="sortBy">
					<option value="price">Price</option>
					<option value="rating">Rating</option>
				</select>

			</div>

		</div>
		<hr/>
		<div class="row">
			<div ng-repeat="hotel in hotels | filter : searchText | orderBy : orderbyFunction : true" class="row well">
				<div class="col-md-1">
					<div>
						<button ng-click="upVote(hotel)" class="btn btn-sm btn-success">
							<span class="glyphicon glyphicon-chevron-up"></span>
						</button>
					</div>
					<div >
						<h3>
							<span class="label label-default">{{hotel.rating ? hotel.rating : 0}}</span>
						</h3>
					</div>
					<div>
						<button ng-disabled="(!hotel.rating || hotel.rating <= 0 )" ng-click="downVote(hotel)" class="btn btn-sm btn-danger">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</button>
					</div>
				</div>
				<div class="col-md-11">
					<img ng-src="http://i.imgur.com/{{hotel.imgUrl}}" class="col-md-2 col-sm-3 col-xs-3 img-thumbnail" />
					<div class="col-md-offset-1 col-md-9 col-sm-9 col-xs-9 padding-left">
						<div class="row h3">{{hotel.name | uppercase}}</div>
						<div class="row">
							<span ng-show="!showMore">{{hotel.description | limitTo : descLimit}}</span>
							<span ng-show="showMore">{{hotel.description}}</span>
							<span ng-show="hotel.description.length>descLimit && !showMore">...</span>
							<span ng-show="hotel.description.length>
								descLimit && !showMore">
								<a href="" ng-click="showMore = true">more</a>
							</span>
						</div>
						<div class="row">
							<div class="col-md-4 ">
								<h2>
									<span class="label label-success">{{hotel.price | toPounds | currency : 'GBP '}}</span>
								</h2>
							</div>
							<div class="col-md-4">{{hotel.location}}</div>
							<div class="col-md-4">{{hotel.area | toFeet : 'sqft' }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
